*{
    margin: 0;
    padding: 0;
}
.container {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#stopwatch{
    margin-top: 30px;
    font-size: 100px;
    box-shadow: 0 0 50px blue,
              inset 0 0 50px blue;
    -webkit-box-reflect: below 10px linear-gradient(transparent,transparent, #0001);
    /*animation: animate 5s linear infinite;*/
    padding: 10px;
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;

}
body h1{
   margin-top: 10px;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 30px;
    left: 35%;
    background-color:#000 ;
    font-family: monospace;
}
#buttons{
    display: flex;

}
button{
    padding: 20px;
    background-color: #694343;
    border:none;
    border-radius: 10px;
    color: white;
    font-size: larger;
    margin: 10px;
    margin-top: 50px;
    width:100px;
     box-shadow: 0 0 50px wheat;,
              inset 0 0 50px white;
    
    transition: all 0.5s;
}
button:hover{
    cursor:pointer;
}
button:active{
    box-shadow: none;
    transition: all 0.5;
}


@media (max-width: 991px){
    h1{
        display: none;
    }
}